body {
    font-family: 'Courier New', Courier, monospace;
}

/* Start Header Styling */
.the-start {
    background-image: url(../images/Galaxy-Background.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    position: sticky;
    display: flex;
}

.the-start h1 {
    color: white;
    font-weight: bolder;
    font-size: 80px;
    position: center;

}

.the-start nav {
    color: white;
    margin: auto;

}

.the-start ul li{
    display: inline;
    padding: 15px;
}

.the-start nav ul li a{
    color: white;
    align-items: center;
    font-size: 30px;
    margin: auto;
    display: inline;
}

/* End Header Styling */

/* About Me Styling Begins */
.flex-container {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

.flex-container h2 {
    font-size: 60px;
    display: inline;
}

.flex-container p {
    font-size: 50px;
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    flex: auto;
}

.flex-container img {
    width: 100%;
    height: 100%;
}


/* About Me Styling Ends */

/* Portfolio Styling Begins */

.my-work {
    background: url(../images/Galaxy-Background.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    position: sticky;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.my-work h2 {
    font-size: 60px;
    display: inline;
    color: white;
}

.work-img, .loading-gif, .mod-img {
 display: flex;
 flex-direction: row;
}

.work-img iframe {
    width: 600px;
    height: 600px;
}

.mod-img iframe {
    width: 1000px;
    height: 400px;
}

.loading-gif img {
    width: 300px;
    height: 300px;
}
/* Portfolio styling ends */

/* Contact info starts */

.contact h2 {
    font-size: 50px;
    display: block;
}

.contact-info {
    display: inline;
    font-weight: bold;
    justify-content: space-evenly;
    font-size: 20px;
}